{% extends "main/layout.html" %}

{% block content %}

<div>

    <div class="login_container">
        <div class="card">
            <div class="card-body">
                <form id="register-form" method="post" class="loginformcontainer" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.source.errors }}
                    {{ form.source }}
                    <div class="form-group">
                        {{ form.nickname }}
                    </div>
                    <div class="form-group">
                        {{ form.phoneNumber }}
                    </div>
                    <div class="form-group">
                        <hr>
                        <a href="javascript:document.getElementById('register-form').submit()">
                            <h4 class="text-center">Register</h4>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block extra_scripts %}
<script>
    function submitRegForm(){
        var form = document.getElementById("register-form");
        var nickname = document.forms["register-form"]["nickname"];
        var phone = document.forms["register-form"]["phone"];
        var pass = false;
        if(nickname.value.trim() == ""){
            //show error
            console.log("Nickname is required");
        }
        else if(nickname.value.trim().length < 2){
            //show error
            console.log("Nickname too short");
        }
        if(phone.value.trim() == ""){
            //show error
            console.log("Phone number is required");
        }
        else if(phone.value.trim().length < 7){
            //show error
            console.log("Phone number too short");
        }
        if(isNaN(phone.value.trim())){
            //show error
            console.log("Phone number is invalid");
            return;
        }
        if(pass){
            //submit form
            form.submit();
        }
    }
</script>
{% endblock %}