<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Home</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
    <!--     Fonts and icons     -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /> -->
    <!-- CSS Files -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'main/css/light-bootstrap-dashboard.css' %}?v=2.0.1" rel="stylesheet" />
    <link href="{% static 'main/css/worldcup.css' %}" rel="stylesheet" />
    <style>
        .login_container {
            background-image: linear-gradient(rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5)),url("{% static 'main/img/logo2.png' %}");
        }
        #wrapper{
            background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(0, 0, 0, 0.5)), url("{% static 'main/img/background10.jpg' %}");
        }
    </style>
    <!-- Core JS Files   -->

    <script src="{% static 'main/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
</head>

<body>
    <!-- Navbar -->
    <div class="wrapper" id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a style="font-size:8vw;" class="navbar-brand" href=""> WORLD CUP 2018 </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if session_user %}
                <form id="logoutForm" action="{% url 'logout' %}" method="post" class="navbar-right">
                    {% csrf_token %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="no-icon">
                                    Log out
                                </span>
                            </a>
                        </li>
                    </ul>
                </form>
                {% endif %}
            </div>
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block extra_scripts %}{% endblock %}
</body>

</html>