{% extends "main/layout.html" %}

{% block content %}

{% load staticfiles %}
<div class="container-fluid">
    <div class="row" style="margin-top:30px;">
        <div class="col-5">
            <div class="card" style="background-color: transparent; border: none;">
                <div class="card-header" style="background-color: transparent;">
                    {% with 'main/img/flags/'|add:match.team1.countryCode|add:'.svg' as image_static %}
                    <img src="{% static image_static %}" class="rounded mx-auto d-block">
                    {% endwith %}
                </div>
                <div class="card-body ">
                    <p class="card-title cardtitle" style="text-align:center; color: white; background-color: transparent; font-size:7vw; font-weight: bold;">{{ match.team1.name }}</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <p style="text-align:center;font-size:7vw;margin-top:70%; color: white; font-weight: bold;">VS</p>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    {% with 'main/img/flags/'|add:match.team2.countryCode|add:'.svg' as image_static %}
                    <img src="{% static image_static %}" class="rounded mx-auto d-block">
                    {% endwith %}
                </div>
                <div class="card-body ">
                    <p class="card-title cardtitle" style="text-align:center; color: white; background-color: transparent; font-size:7vw; font-weight: bold;">{{ match.team2.name }}</p>
                </div>
            </div>
        </div>
    </div>
    <form method="post" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
    <p style="text-align:center;font-size:6vw;margin-top:5%; color: white; font-weight: bold;">HALF-TIME</p>
    <div class="row">
        <div class="col-5">
            {{ form.firstHalfTeam1Score }}
        </div>
        <div class="col-2">
            <p style="text-align:center;font-size:6vw; margin-top: 5%; color: white; font-weight: bold;">VS</p>
        </div>

        <div class="col-5">
            {{ form.firstHalfTeam2Score }}
        </div>
    </div>
    <p style="text-align:center;font-size:6vw;margin-top:10%; color: white; font-weight: bold;">FULL-TIME</p>
    <div class="row">
        <div class="col-5">
            {{ form.fullTimeTeam1Score }}
        </div>
        <div class="col-2">
            <p style="text-align:center;font-size:5vw;">VS</p>
        </div>

        <div class="col-5">
            {{ form.fullTimeTeam2Score }}
        </div>
    </div>
    <div class="row">
        <button type="submit" style=" background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 5vw; width:80%;margin-left:10%;margin-top:5%;">BET</button>
    </div>
    </form>
</div>
         
{% endblock %}

{% block extra_scripts %}

{% endblock %}