{% extends "main/layout.html" %}

{% block content %}

{% load staticfiles %}
<div class="container-fluid">
    <div class="row" style="margin-top:30px;">
        <div class="col-12">
            {% if matches|length_is:"0" %}
            <div class="card">
                <div class="card-body" style="height: 70vh;">
                    <div class="row">
                        <div style="margin-top: 45%; text-align: center; width: 100%;">
                            No more matches available
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% for match in matches %}
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title cardtitle" style="font-size:6vw;">
                        {{ match.datetime|date:"d/m - H:i" }}
                    </h4>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            {% with 'main/img/flags/'|add:match.team1.countryCode|add:'.svg' as image_static %}
                            <img src="{% static image_static %}" class="rounded mx-auto d-block">
                            {% endwith %}
                        </div>
                        <div class="col-5">
                            <p style="font-size:7vw;text-align: center">{{ match.team1.name }} </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">

                        <div class="col-5">
                            {% with 'main/img/flags/'|add:match.team2.countryCode|add:'.svg' as image_static %}
                            <img src="{% static image_static %}" class="rounded mx-auto d-block">
                            {% endwith %}
                        </div>
                        <div class="col-5">
                            <p style="font-size:7vw;text-align: center">{{ match.team2.name }} </p>
                        </div>
                    </div>
                </div>
                <div>
                    {% for b in betable %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            {% if b %}
                                <a href="{% url 'matchscore_post' match.id %}">{{index}}
                                    <button style="background-color:rgb(36, 163, 53);font-size:5vw;width:100%;color:white;"> Bet</button>
                                </a>
                            {% else %}               
                                <button style="background-color:rgb(107, 107, 107);font-size:5vw;width:100%;color:white;">Bet made already!</button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>          
</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}