{% extends "main/layout.html" %}

{% block content %}

<div style="text-align: center;">
    Thank you! Your bet has been registered!
    <div>
        <a href="{% url 'schedule' %}">
            <button class="btn btn-success">Back To Schedule</button>
        </a>
    </div>
</div>    

{% endblock %}

{% block extra_scripts %}

{% endblock %}