{% extends "main/layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="col">
            {% for item in winners %}
            <div class="card">
                <div class="card-header">
                    <div class="row" data-toggle="collapse" data-target="#collapseTwo">
                        <div class="col-3">
                            <a href="">
                                <h3 style="font-size:4vw;">{{item.match.datetime|date:"d/m" }}</h3>
                            </a>
                        </div>
                        <div class="col-3">
                            <a href="">
                                <h3 style="font-size:4vw;">{{item.match.datetime|date:"H:i" }} </h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" data-toggle="collapse" data-target="#collapseTwo">
                                <h3 style="font-size:4vw;">{{item.match.team1.name }} vs {{item.match.team2.name }}</h3>
                            </a>
                        </div>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">User</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Half-time</th>
                                        <th scope="col">Full-time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for winner in item.winners %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ winner.user.nickname }}</td>
                                        <td>{{ winner.user.phoneNumber }}</td>
                                        <td>{{ winner.firstHalfTeam1Score }}-
                                        {{ winner.firstHalfTeam2Score }}</td>
                                        <td>{{ winner.fullTimeTeam1Score }}-
                                        {{ winner.fullTimeTeam2Score }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}
