
#wrapper{
    background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(0, 0, 0, 0.5)), url('../img/background1.jpg');
    
}/*Login*/
.login_container{
    padding: 50px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top:100px;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(0, 0, 0, 0.5)), url('../img/logo2.png');
   

}
.login_container .card {
    background-color: rgba(97, 105, 100, 0.4);
    background-image:url('../assets/img/backgroundlms4.jpg');
    margin: auto;
    width: 30%;
    margin-top: 50px;
    border: none; !important;
}

.login_container .card-header{
    background-color: rgba(245, 245, 245, -0.4);
}

.loginformcontainer .form-group {
    margin: auto;
    margin-top: 30px;
}

.loginformcontainer .form-check {
    margin-top: 30px;

}

.loginformcontainer .form-check #_submit {
    /*margin-top: 30px;*/
    width: 150px;
    margin: -75px;
    position:relative;
    top:50%;

}


.loginformcontainer .form-check .form-check-sign::before,.loginformcontainer .form-check .form-check-sign::after {
    color: #f0efec;

}

.login_container h3{
    color:#f5f4f1;
}



.login_container .card-header h3{
    color:#f5f4f1;
}



.btn-login{
    color:#f0efec;
    border-color:#f0efec;
    cursor:pointer;
    font-size:5vw;
    background-color:black;
}

.btn-login:hover{
    color:rgb(235, 236, 233);
    border-color:rgb(232, 238, 226);
}


body {
    background-color: rgb(248, 248, 255);!important;

}

.login_container .form-check .form-check-sign::before, .form-check .form-check-sign::after {
    margin-top: 0px;
    margin-left: -33px;
}


/*End login*/

img{
    width:100%;
   
}


/***responsiveness on iphone/android ***/

/**iphone 6/7/8 **/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    #wrapper{
        background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(0, 0, 0, 0.5)), url('../img/background10.jpg');
        height:100%;
    }
    .login_container{
        padding: 50px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top:100px;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(0, 0, 0, 0.5)), url('../img/logo2.png');
        
    }
    
    .login_container .card {
        background-color: rgba(245, 245, 245, 0.4);
        margin: auto;
        width: 90%;
        margin-top: 50px;
        border: none; !important;
    }
    .login_container .forgetpassword .text-right{
        text-align-last:center;
    }


    .form_container .card {
        background-color: rgba(245, 245, 245, 0.4);
        margin: auto;
        width: 90%;
        margin-top: 50px;
        border: none; !important;
    }


}

/**iphone 5 **/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    #wrapper{
        background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(0, 0, 0, 0.5)), url('../img/background10.jpg');
        height:100%;
       
    }
    .login_container{
        padding: 50px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top:100px;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(73, 69, 69, 0.5)), url('../img/logo2.png');
        
    }


    .login_container .card {
        background-color: rgba(2, 2, 2, 0.4);
        margin: auto;
        width: 90%;
        border: none; !important;
    }
    .login_container .forgetpassword .text-right{
        text-align-last:center;
    }


    .form_container .card {
        background-color: rgba(43, 42, 42, 0.4);
        margin: auto;
        width: 90%;
        border: none; !important;
    }


}

/** ipad **/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    #wrapper{
        background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(22, 3, 3, 0.5)), url('../assets/img/background10.jpg');
        height:100%;
    }
    .login_container{
        padding: 50px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top:100px;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(0, 0, 0, -0.5),rgba(0, 0, 0, 0.5)), url('../img/logo2.png');
       
    
    }
   
    .login_container .card {
        background-color: rgba(245, 245, 245, 0.4);
        margin: auto;
        width: 100%;
        margin-top: 50px;
        border: none; !important;
    }
    .login_container .forgetpassword .text-right{
        text-align-last:center;
    }
}